<script>
    
//geting the user related prefs
$('#getbtn').click(function()
{
    console.log("btn clicked")
    $.ajax({
        url: "{% url 'get_pref' %}",
        type: "GET",
        dataType: "json",
        success: function(response) {
          console.log(response);
        },
        error: function(error) {
          console.error(error);
        }
      });
})



//editing function 
// deleting function







$('#btnsave').click(function(){
    
    let tv=$('#id_text').val()
    let av=$('#id_after').val()
    let csr=$("input[name=csrfmiddlewaretoken").val();
    if(tv=="")
    {
        console.log("Please fill the text")
    }
    else if(av=="")
    {
        console.log("Please select the after stamp")
    }
    else{
        mydata={text:tv,after:av,csrfmiddlewaretoken:csr};
        $.ajax({
            url:"{% url 'pref_add' %}",
            dataType:"json",
            method: "POST",
            data:mydata,
            success:function(data)
            {
                if(data.status=="Save")
                {
                    console.log("Form submitted Successfully");
                    output='';
                    x=data.pref_data;
                    $("#prefs_body").html(output);
                    $("form")[0].reset();

                }
                if(data.status==0)
                {
                    console.log("Unable to save the preference");
                }
            }
        })
    }
})
</script>