<!-- home.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}


{% if not user.is_authenticated %}
<h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #676767;">Please sign in to access the content</h1>
<div class="border-top pt-3">
	<small class="text-muted">Already Have An Account?</small>
</div>
<a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-1 mb-3">Sign in</a>
<span class="mx-5"> </span>
<div class="border-top pt-3">
	<small class="text-muted">Need An Account?</small>
</div>
<a href="{% url 'signup' %}" class="btn btn-success btn-lg mt-1 mb-3">Sign Up</a>
<!-- <p>New User</p> -->
{% endif %}

<!-- Add your content for authenticated users here -->

{% if user.is_authenticated %}

<div style="color: #fff; font-size: 30px; text-align: left; margin-bottom: 20px;">
	<h2 class="typewriter-text px-2" style="display: inline-block; border-right: .15em solid #676767;"></h2>
</div>
{% comment %} form for uploading {% endcomment %}
<div class="row justify-content-between">
	<div class="col-sm-5">
		<div id="messages" class="alert" style="color: white;">'</div> <!-- Add this div for displaying messages -->
		<div class="form-container">
			<form method="post">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Enter your interests</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<input class="btn btn-success" type="button" id="btnsave" value="Save" />
				</div>
			</form>
		</div>
		<!-- <input class="btn btn-primary btn-sm mb-3" type="button" id="getbtn" value="Get Preferences" /> -->
	</div>
	<div class="col-sm-7">
		<h5 class="pref-head text-center alert alert-info">
			Your Article Preferences
		</h5>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Text</th>
					<th scope="col">After</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody id="prefs_body">
				{% for prf in pref_data %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td class="textColumn">{{prf.text}}</td>
					<td class="dateColumn">{{prf.after}}</td>
					<td>
						<input class="btn btn-edit btn-warning btn-sm" data-sid="{{prf.id}}" type="button" value="Edit">
						<input class="btn btn-del btn-danger btn-sm" data-sid="{{prf.id}}" type="button" value="Delete">
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
	const typewriterTextElement = $('.typewriter-text');
	const text = "Hello {{ user.username }}, Welcome to the Home Page...";
	let index = 0;
	function typeWriter() {
		if (index < text.length) {
			typewriterTextElement.append(text.charAt(index));
			index++;
			setTimeout(typeWriter, 50);
		}
	}
	typeWriter();
	$(document).ready(function () {
		$('label[for="text"]').text('Preference or Interests');
		$('label[for="after"]').text('Published Year');
	});

</script>

{% endif %}

{% endblock %}